.progress-bar {
  /* position: relative; */
  /* position: "absolute"; */
  top: 60%;
  margin-left: 12px;
  height: 3px;
  margin-top: 8px;
  width: 88%;
  border-radius: 5px;
  border: 0.5px solid white;
}

.filler {
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
}
