.wallet {
  background-color: #f2f2f2;
  border-radius: 30px;
  width: 237px;
  height: 468px;
  margin-top: 100px;
}

.image-container {
  padding-top: 40px;
  padding-left: 175px;
}
.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: -20% 0;
  border-radius: 50%;
}

.wallet-info {
  padding: 0 12px;
}
.title {
  font-weight: 600;
  color: rgb(54, 54, 54);
}
.send-section {
  padding: 17px 12px;
}
.send-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.send-title {
  font-size: 12px;
  color: #07065a;
  font-weight: 600;
}
.icon {
  padding: 4px;
}

.beneficiaries {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}
.dashed-outline {
  width: 50px;
  height: 55px;
  border: 1px dashed #8102c0;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.icon-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border: 1px solid white;
  margin-bottom: 3px;
}
.add-icon {
  color: white;
  padding: 7px;
}
.add-new {
  font-size: 8px;
  text-align: center;
  color: white;
}

.add {
  /* padding: 2px; */
  width: 49px;
  height: 54px;
  border-radius: 4px;
  background: #590582;
  background: linear-gradient(126deg, #590582 0%, #c360f3 90%);
  background: -webkit-linear-gradient(126deg, #590582 0%, #c360f3 90%);
  background: -moz-linear-gradient(126deg, #590582 0%, #c360f3 90%);
}
.transaction-history {
  padding-top: 10px;
}
