.dashboard {
  background-color: #ffffff;
  border-radius: 30px;
  width: 237px;
  height: 468px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(155, 81, 224, 0.61);
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-icon {
  color: white;
  font-size: 20px;
}
.arrow-back-icon {
  color: rgb(117, 117, 117);

  padding: 5px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px 0 12px;
  padding-bottom: 10px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 12px;
}
.title {
  font-size: 18px;
  font-weight: 600;
  color: rgb(54, 54, 54);
}
.add {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: rgb(117, 117, 117);
}
.add p {
  font-weight: 700;
  color: rgba(103, 32, 170, 0.61);
}
.add-new-icon {
  padding: 5px;
}
.upgrade {
  width: 213px;
  height: 80px;
  align-self: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 9px 12px 10px 12px;
  border-radius: 10px;
  box-shadow: 1px 2px 7px 1px rgba(222, 222, 222, 0.75);
  -webkit-box-shadow: 1px 2px 7px 1px rgba(222, 222, 222, 0.75);
  -moz-box-shadow: 1px 2px 7px 1px rgba(222, 222, 222, 0.75);
  background-image: url("https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=annie-spratt-6a3nqQ1YwBw-unsplash.jpg");
}

.badge {
  width: 30px;
  height: 15px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: rgba(103, 32, 170, 0.61);
  font-weight: 650;
  background-color: white;
}
.bottom {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom .text {
  font-size: 12px;
  font-weight: 300;
}
.arrow-forward-icon {
  padding: 3px;
}
